DATABASE_URL="postgresql://postgres:postgres@localhost:5432/raffle?schema=public"
SESSION_SECRET="change-me-to-a-random-64-char-string"
PORT=3001
NODE_ENV=development
CORS_ORIGIN="http://localhost:5173"
